{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Add new Guide</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'AddGuide' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Title</label>
                                                    <select class="form-control" name="title" required>
                                                        <option value="Select meter number" >Select Title</option> 
                                                        <option value="Imirire">Imirire</option> 
                                                        <option value="Isuku">Isuku</option> 
                                                        <option value="Imikurire">Imikurire</option> 
                                                     </select>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Sub Title</label>
                                                    <select class="form-control" name="title" required>
                                                        <option value="Select meter number" >Select Title</option> 
                                                        <option value="amezi 0-3">amezi 0-3</option> 
                                                        <option value="amezi 4-6">amezi 4-6</option> 
                                                        <option value="Amezi 7-12">Amezi 7-12</option> 
                                                        <option value="Amezi 10-12 ">Amezi 10-12 </option> 
                                                        <option value="Umubiri ">Umubiri </option> 
                                                        <option value="Amazuru ">Amazuru </option> 
                                                        <option value="Amaso & Amatwi ">Amaso & Amatwi </option> 
                                                     </select>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Guide Descriptions</label>
                                                    <textarea type="text" class="form-control" name="description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}