{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Add new Guide</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                <form enctype="multipart/form-data" action="{% url 'AddGuide' %}" method="POST">
                                {% csrf_token %}
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Title</label>
                                                    <select class="form-control" name="title" id="slct1" onchange="populate(this.id,'slct2')" required>
                                                        <option value="Select meter number" >Select Title</option> 
                                                        <option value="Imirire">Imirire</option> 
                                                        <option value="Isuku">Isuku</option> 
                                                        <option value="Imikurire">Imikurire</option> 
                                                     </select>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Sub Title</label>
                                                    <select class="form-control" name="sTitle" id="slct2" required>
                                                        <option value="Select meter number" >Select SubTitle</option> 
                                                     </select>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="control-label">Guide Descriptions</label>
                                                    <textarea type="text" class="form-control" name="description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right">
                                        <button class="btn btn-block btn-success" type="submit">Submit</button>
                                    </div>
                                </form>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
                            <script>
                                function populate(s1,s2){
                                    var s1 = document.getElementById(s1);
                                    var s2 = document.getElementById(s2);
                                    s2.innerHTML = "";
                                    if(s1.value == "Imirire"){
                                        var optionArray = ["|","Amezi 0-3|Amezi 0-3","Amezi 4-6|Amezi 4-6 ","Amezi 7-12|Amezi 7-12"];
                                    } else if(s1.value == "Imikurire"){
                                        var optionArray = ["|","Amezi 0-3|Amezi 0-3","Amezi 4-6|Amezi 4-6 ","Amezi 7-9|Amezi 7-9","Amezi 10-12|Amezi 10-12"];
                                    } 
                                    else if(s1.value == "Isuku"){
                                        var optionArray = ["|","Umubiri|Umubiri","Amazuru|Amazuru","Amaso|Amaso","Amatwi|Amatwi"];
                                    } 
                                    for(var option in optionArray){
                                        var pair = optionArray[option].split("|");
                                        var newOption = document.createElement("option");
                                        newOption.value = pair[0];
                                        newOption.innerHTML = pair[1];
                                        s2.options.add(newOption);
                                    }
                                }
                                </script>
					
					
					
					
                </div>

{% endblock content%}