{% extends 'base.html'%}
{% load static %}
{% block content%}

 <div id="page-content">
                    
					<div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{desc.Title}}</h3>
                                </div>
                    
                                <!--Block Styled Form -->
                                <!--===================================================-->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <h4 class="control-label">{{desc.SubTitle}}</h4>
                                                    <p>{{desc.Description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                <!--===================================================-->
                                <!--End Block Styled Form -->
                    
                            </div>
					
					
					
					
					
					
					
                </div>

{% endblock content%}